.linespaco {
    padding: 10px;
    border-bottom: #020100 solid 3px;
}

.bodyy {
    background-image: url(../Imagens/Home/hog_fundo.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
}

#header{
    background: linear-gradient(68deg, #151515 16.62%, #2e2d2d 85.61%);
    padding: 20px 0px 5px 0px;
    border-bottom: #020100 solid 3px;
}

ul.nav {
    margin: 30px;
    margin-top: -15px;
    text-align: center;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

ul.nav li {
    list-style: none;
    display: inline;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

#grif  a{
    border: solid #b60a27;
    font-family: Arial, Helvetica, sans-serif;
    background: #d50e2f;
    color: #f5be0b;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    border-radius: 6px;
}

#lufa  a{
    border: solid #f0c441;
    font-family: Arial, Helvetica, sans-serif;
    background: #fee35e;
    color: #020100;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    border-radius: 6px;
}

#corv  a{
    border: solid #06558e;
    font-family: Arial, Helvetica, sans-serif;
    background: #096fb9;
    color: #cd7f32;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    border-radius: 6px;
}

#sons  a{
    border: solid #15513a;
    font-family: Arial, Helvetica, sans-serif;
    background: #1e7352;
    color: #b4b5b7;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    border-radius: 6px;
}

.home{
    top: 15px;
    position: relative;
}

.table_casas{
    margin: 0px auto;
    padding-bottom: 20px;
}

.table_casas tr{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

.table_casas th{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

.table_casas td{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

figure, figure img{
    width: 320px;
    height: 210px;
}

#linha_baixo_pontilhada{
    border-bottom: #020100 solid 3px;
    border-style: dotted;
}

#anos {
    font-family: 'Staatliches', cursive;
    font-size: 55px;
    color: white;
    text-shadow: 2px 2px 10px #151515;
    text-align: center;
    padding-left: 20px;
    padding-top: 10px;
    margin: 20px;
}

#h3casas {
    font-size: 50px;
    font-family: 'Staatliches', cursive;
    color: white;
    text-shadow: 2px 2px 10px #151515;
    text-align: center;
    padding: 10px;
}

#casas_up{
    background: linear-gradient(68deg, #1d1c1c 16.62%, #282727 85.61%);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
}

#casas_up p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
    text-align: center;
    padding: 0px 0px 30px 30px;
    border-radius: 6px;
    text-decoration: none;
}

#cor_grif{
    color: #ed1136;
    text-shadow: 2px 2px 10px #151515;
}

#cor_lufa{
    color: #f5be0b;
    text-shadow: 2px 2px 10px #151515;
}

#cor_corv{
    color: #096fb9;
    text-shadow: 2px 2px 10px #151515;
}

#cor_sonse{
    color: #1e7352;
    text-shadow: 2px 2px 10px #151515;
}

/* GRIFINORIA E LUFA LUFA */

.griflufa{
    display: flex;
}

.grifinoria{
    background-color: #ed1136;
    width: 50%;
    padding: 50px 0px 50px 0px;
    background-attachment:inherit;
    margin: 0px auto;
}

.grifinoria li {
    list-style: none;
    font-size: 100%;
    display: flex;
    justify-content: center;
}

.grifinoria p{
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f5be0b;
    text-shadow: 2px 2px 10px #151515;
    text-align: center;
    padding: 10px;
}

#botao_grif{
    border: solid #d01030;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    background: #ed1136;
    color: #f5be0b;
    text-align: center;
    padding: 30px 30px 30px 30px;
    border-radius: 6px;
    text-decoration: none;
}

.lufa_lufa{
    background-color: #fee35e;
    width: 50%;
    padding: 50px 0px 50px 0px;
    background-attachment:inherit;
    margin: 0px auto;
}

.lufa_lufa li {
    list-style: none;
    font-size: 100%;
    display: flex;
    justify-content: center;
}

.lufa_lufa p{
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #020100;
    text-align: center;
    padding: 10px;
}

#botao_lufa{
    border: solid #f0c441;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    background: #fee35e;
    color: #020100;
    text-align: center;
    padding: 30px 30px 30px 30px;
    border-radius: 6px;
    text-decoration: none;
}

/* CORVINAL E SONSERINA */

.corvsons{
    display: flex;
}

.corvinal{
    background-color: #096fb9;
    width: 50%;
    padding: 50px 0px 50px 0px;
    background-attachment:inherit;
    margin: 0px auto;
}

.corvinal li {
    list-style: none;
    font-size: 100%;
    display: flex;
    justify-content: center;
}

.corvinal p{
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #cd7f32;
    text-shadow: 2px 2px 10px #151515;
    text-align: center;
    padding: 10px;
}

#botao_corv{
    border: solid #06558e;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    background: #096fb9;
    color: #cd7f32;
    text-align: center;
    padding: 30px 30px 30px 30px;
    border-radius: 6px;
    text-decoration: none;
}

.sonserina{
    background-color: #1e7352;
    width: 50%;
    padding: 50px 0px 50px 0px;
    background-attachment:inherit;
    margin: 0px auto;
}

.sonserina li {
    list-style: none;
    font-size: 100%;
    display: flex;
    justify-content: center;
}

.sonserina p{
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #b4b5b7;
    text-align: center;
    padding: 10px;
}

#botao_sonse{
    border: solid #15513a;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    background: #1e7352;
    color: #b4b5b7;
    text-align: center;
    padding: 30px 30px 30px 30px;
    border-radius: 6px;
    text-decoration: none;
}

footer {
    padding: 20px;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: center;
    background-color: #2d2925;
    border-bottom: 3px solid black;
    border-top: 3px solid black;

}

/* ANIMAÇÃO */

[data-anime]{
    opacity: 0;
    transition: .8s;
}

[data-anime="left"]{
    transform: translate3d(-250px, 0, 0);
}

[data-anime].animate{
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}