/* PADRÃO */

.linespaco {
    padding: 10px;
    border-bottom: #15513a solid 3px;
}

body{
    background-image: url(../Imagens/Sonserina/sonserina_fundo.jpg);
    background-position-x: center;
    background-size: cover;
}

#header{
    background-color: #1e7352;
    padding: 20px 0px 5px 0px;
    border-bottom: #15513a solid 3px;
}

ul.naveg {
    margin: 30px;
    margin-top: -15px;
    text-align: center;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

ul.naveg li {
    list-style: none;
    display: inline;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

#grif  a{
    border: solid #b60a27;
    font-family: Arial, Helvetica, sans-serif;
    background: #d50e2f;
    color: #f5be0b;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    border-radius: 6px;
}

#lufa  a{
    border: solid #f0c441;
    font-family: Arial, Helvetica, sans-serif;
    background: #fee35e;
    color: #020100;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    border-radius: 6px;
}

#corv  a{
    border: solid #06558e;
    font-family: Arial, Helvetica, sans-serif;
    background: #096fb9;
    color: #b1acb2;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    border-radius: 6px;
}

#sons  a{
    border: solid #15513a;
    font-family: Arial, Helvetica, sans-serif;
    background: #1e7352;
    color: #b4b5b7;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    border-radius: 6px;
}

.home{
    top: 15px;
    position: relative;
}

/* SOBRE */

#sonse_sobre{
    padding: 10px 380px 10px 380px;
}

#sonse_sobre p{
    text-align: center;
    color: #b4b5b7;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}